ORACLE_BASE_URL="ORACLE URL"
ORACLE_API_VERSION=11.13.18.05

ORACLE_USERNAME=your.integration.user
ORACLE_PASSWORD=your_password

ORG_CODE="YOUR INVENTORY ORG CODE"
ITEM_NUMBER="PUT YOUR ITEM NUMBER"
METER_CODE="PUT YOUR ODOMETER NAME"

# Your GET response showed the condition-event requirement uses EventCode = ZE2_OIL_CODE
CONDITION_EVENT_CODE="PUT YOUR CONDITION EVENT CODE"

WORK_DEFINITION_NAME= "WORK DEFINITION NAME"
OIL_CHANGE_INTERVAL_KM="EVENT BASE INTERVAL"

DRY_RUN=false
DEBUG_WORK_ORDERS=false

COMPLETED_STATUS_KEYWORDS=closed,complete,completed
CANCELED_STATUS_KEYWORDS=cancel,canceled,cancelled
OPEN_STATUS_KEYWORDS=draft,unreleased,released,on hold,hold,open
